- @section = "downloads"
- @subsection = ""
- @page_title = "Git - Downloads"

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %div.two-column
    %div.column-left
      %h1 Downloads
      %div.callout
        %table.binaries
          %tr
            %td= link_to "Mac OS X", "/download/mac", {:class => 'icon mac'}
            %td= link_to "Windows", "/download/win", {:class => 'icon windows'}
          %tr
            %td= link_to "Linux", "/download/linux", {:class => 'icon linux'}
            %td= link_to "Solaris", "/download/linux", {:class => 'icon solaris'}

      %p
        <a href="http://code.google.com/p/git-core/downloads/list">Versões antigas</a> estão disponíveis e o <a href="https://github.com/git/git">Repositório fonto do Git</a> está no GitHub.


    %div.column-right
      = partial 'shared/monitor'


  %div.callout#more-downloads
    %div.two-column
      %div.column-left
        %h2 Clientes Gráficos

        %p
          Git já vem com ferramentas gráficas embutidas (<strong>git-gui</strong>, <strong>gitk</strong>), mas existem muitas outras aplicações de terceiros para usuários buscando a experiência específica de uma plataforma.

        %p
          %strong= link_to "Ver Clientes GUI →", "/downloads/guis"

      %div.column-right
        %h2 Logos

        %p Vários logos Git em formatos PNG(bitmap) e EPS(vetor) estão disponíveis para uso online e em projetos impressos.

        %p
          %strong= link_to "Ver Logos →", "/downloads/logos"

  %h2 Git via Git

  %p
    Se você já tem o Git instalado pode obter a versão de desenvolvimento mais recente através do próprio Git:

  %code
    git clone https://github.com/git/git.git

  %p
    Você também pode navegar pelo conteúdo do repositório do Git usando a <a href="https://github.com/git/git">interface web</a>.
