- @section = "documentation"
- @page_title = "Git - Documentação"

- content_for :sidebar do
  = render 'shared/book'

%div#main
  %h1 Documentação

  %h2 Referências

  %div.callout.ref-manual
    %h3= link_to "Manual para Consulta", "/docs"
    %p
      O <strong>manual</strong> compreesivo e oficial que é incluso no próprio pacote Git.

  %p.quickref
    Guias para consulta rápida:
    =link_to "Heroku Cheat Sheet", "https://na1.salesforce.com/help/doc/en/salesforce_git_developer_cheatsheet.pdf"
    %small.light (PDF) &nbsp;|&nbsp;
    =link_to "Visual Git Cheat Sheet", "http://ndpsoftware.com/git-cheatsheet.html"
    %small.light (SVG | PNG)

  %h2 Livro

  %div#book-container
    %div#book-intro
      %p
        Pro Git é escrito por Scott Chacon e publicado por Apress.

      %p
        Cópias impressas podem ser compradas em <a href="http://www.amazon.com/gp/product/1430218339?ie=UTF8&camp=1789&creative=9325&creativeASIN=1430218339&linkCode=as2&tag=git-sfconservancy-20">Amazon</a>. Versões em <a href="https://github.s3.amazonaws.com/media/progit.en.pdf">PDF</a>, <a href="https://github.s3.amazonaws.com/media/pro-git.en.mobi">mobi</a>, e <a href="https://github.s3.amazonaws.com/media/progit.epub">ePub</a> estão disponíveis de graça.
      %p
        <a href="#" id="open-book">De volta ao livro →</a>
      %p.license
        %img.creative-commons{:src => "/images/creative-commons@2x.png", :width => 115, :height => 28}
        Todo o conteúdo está licenciado sob a licença Creative Commons Atribuição Não Comercial Compartilhar Igual versão 3.0
    %div#flippy-book
      %div#book-inside-page
        %span.header Scott Chacon
        %ol.book-toc
          - @book.chapters.where("number >= 6").each do |chapter|
            %li.chapter
              %h2
                = chapter.number.to_s + '.'
                %a{:href=>"/book/#{@book.code}/#{chapter.sections.first.slug}"}= chapter.title
          %li.chapter
            %h2 <a href="/book/commands">Índice de Comandos</a>
      %div#book-cover.open
        %div#book-cover-outside.face
          Pro Git
        %div#book-cover-inside.face
          %span.header Pro Git
          %ol.book-toc
            - @book.chapters.where("number < 6").each do |chapter|
              %li.chapter
                %h2
                  = chapter.number.to_s + '.'
                  %a{:href=>"/book/#{@book.code}/#{chapter.sections.first.slug}"}= chapter.title
          <a href="#" id="about-book">Informações sobre o livro e downloads</a>


  %h2 Vídeos

  - groups = @videos[0,4].group_by { |i| i[0] % 2 }

  %div.two-column
    %div.column-left
      %ul.video-thumbnails
        - groups[1].each do |video|
          %li
            =link_to(image_tag("video/ep#{ video[0] }.png"), "/video/#{ video[4] }")
            %h4= link_to video[3], "/video/#{ video[4] }"
            %p.description
              =raw "<strong>Length:</strong> #{video[5]}"

    %div.column-right
      %ul.video-thumbnails
        - groups[0].each do |video|
          %li
            =link_to(image_tag("video/ep#{ video[0] }.png"), "/video/#{ video[4] }")
            %h4= link_to video[3], "/video/#{ video[4] }"
            %p.description
              =raw "<strong>Length:</strong> #{video[5]}"

  %p
    %strong= link_to "Ver todos os vídeos →", "/videos"

  %h2 Links Externos

  %p
    A seção <a href="/documentation/external-links">Links Externos</a> é uma coleção curada, em evolução de tutoriais, livros, vídeos e outros recursos sobre o Git.

