%p
  <img src="/images/404@2x.png" alt="404" width="456" height="149" />

%h1 Essa página não existe.

%p
  O site foi recentemente redesenhado e URLs antigas agora pode levar a páginas inexistentes. Pedimos desculpas pelo incomodo.

%nav
  %ul
    %li= link_to "Início", "/"
    %li= link_to "Sobre", "/about"
    %li= link_to "Documentação", "/documentation"
    %li= link_to "Downloads", "/downloads"
    %li= link_to "Comunidade", "/community"

